[Unit]
Description=Relay pi
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/home/pi/halloween/relay-pi
ExecStart=/usr/bin/node /home/pi/relay-pi/halloween/startup.js

[Install]
WantedBy=multi-user.target

